extends layout

block content

  h1= title

  .row
    p Welcome to #{title}

  .row#img_results
    
    
  .row
    ul#sending_results

  hr
  .row
    button.btn.btn-success Launch

  hr
  .row
    .col-lg-6
      ul#sending_result
    .col-lg-6
      ul#getting_result

  canvas#result(width="900",height="600")
